<div class="home-container">
	<app-nav></app-nav>
	<section class="banner-area container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<h1>Brain Boost</h1>
					<p>Aplicacion innovadora para el seguimiento de personas con sindromes demenciales</p>
				</div>
			</div>
		</div>
	</section>
	<section class="features-area">
		<div class="container">
			<h1 class="text-center">Caracteristicas</h1>
			<div class="card-deck">
				<div class="card shadow" style="width: 18rem;">
					<fa-icon [icon]="['fas', 'map-marker-alt']" class="feature-icon" size="10x" [styles]="{'color': '#2d82c5'}">
					</fa-icon>
					<div class="card-body">
						<h5 class="card-title">Localiza</h5>
						<p class="card-text">Nuestra aplicación cuenta con un avanzado sistema de localización.</p>
					</div>
				</div>
				<div class="card shadow" style="width: 18rem;">
					<fa-icon [icon]="['fas', 'chart-line']" class="feature-icon" size="10x" [styles]="{'color': '#2d82c5'}">
					</fa-icon>
					<div class="card-body">
						<h5 class="card-title">Mejora</h5>
						<p class="card-text">Nuestros expertos recomendarán actividades para desarrollar las habilidades cognitivas.
						</p>
					</div>
				</div>
				<div class="card shadow" style="width: 18rem;">
					<fa-icon [icon]="['fas', 'tasks']" class="feature-icon" size="10x" [styles]="{'color': '#2d82c5'}"></fa-icon>
					<div class="card-body">
						<h5 class="card-title">Controla</h5>
						<p class="card-text">Lleve un control preciso de cada sesión de terapia.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-area">
		<div class="container">
			<h1 class="text-center">Acerca de nosotros</h1>
			<br>
			<h2> Misión </h2>
			<p>Informar a la población acerca de las demencias y mejorar la calidad de vida tanto de los pacientes como las personas que lo rodean, brindando una plataforma inclusiva, tecnológica, informativa, de ayuda y control.</p>
			<br>
			<h2> Visión </h2>
			<p>Ser una compañía tecnológica referente en términos de ayuda a personas con demencia y su círculo cercano, creando soluciones modernas e  inclusivas, siempre de la mano con la tecnología.</p>
			<br>
			<h2> Nuestros valores </h2>
			<ul>
				<li>Innovación: Proponer y crear soluciones novedosas mediante procesos de investigación y desarrollo.</li>
				<li>Compromiso: Satisfacer las necesidades principales de los clientes (pacientes y relativos, expertos en el área de salud, entre otros) y mejorar la calidad de vida de los mismos.</li>
				<li>Colaboración: Brindar y recomendar material complementario de otras fuentes que pueden ser de ayuda para nuestros clientes.</li>
				<li>Empatía: Todas las metas son para alivianar la carga de los pacientes y los allegados a ellos.</li>
				<li>Equidad: Crear soluciones inclusivas, que brinden facilidades a todos las minorías de la población.</li>
			</ul>
		</div>
	</section>
</div>