<div class="card borderless bg-dark rounded-0 pt-5">
  <div class="card-body pt-2">
    <section class="text-center">
      <div class="display-block">
        <h3 class="card-title text-white">Tareas y trabajos en clase</h3>
      </div>
    </section>
  </div>
  <section id="tabs center ">
    <div class="row pb-5  bg-dark pt-5">
      <div class="center bg-light rounded-lg shadow-lg">
        <nav>
          <div class="nav nav-tabs nav-fill" id="homework" role="tablist">
            <a class="nav-item nav-link font-weight-bold active" data-toggle="tab" href="#hw1">Tarea 1</a>
            <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#hw2">Tarea 2</a>
            <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#hw3" onclick="loadCalendar()">Tarea
              3</a>
          </div>
        </nav>
        <div class="tab-content  px-3 border border-top-0 rounded-lg" id="nav-tabContent">
          <div class="tab-pane fade show active px-1" id="hw1">
            <h5 class="text-center mt-2">Internet Evolution Timeline</h5>
            <img class="rounded-img m-3" src="src/assets/documents/int-ev-tl.jpg">
          </div>
          <div class="tab-pane fade px-2" id="hw2">
            <ul class="pl-1 list-group">
              <h5 class="text-center mt-2">Becoming a Full WEB Stack Dev</h5>
              <iframe class="rounded m-3" src="src/assets/documents/bec-fs-web-dev.pdf" width="700px"
                height="800px"></iframe>
            </ul>
          </div>
          <div class="tab-pane fade px-2" id="hw3">
            <ul class="pl-1 pb-2 list-group">
              <h5 class="text-center my-2 pb-2">Calendario</h5>
              <div class="border rounded" render-component="src/components/calendario/calendario.html"></div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>