<div class="card borderless bg-dark rounded-0 pt-5">
    <div class="card-body pt-2">
        <section class="text-center">
            <div class="display-block">
                <h3 class="card-title text-white">Apuntes</h3>
            </div>
        </section>
    </div>
    <section id="tabs center ">
        <div class="row pb-5  bg-dark pt-5">
            <div class="center bg-light rounded-lg shadow-lg">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="homework" role="tablist">
                        <a class="nav-item nav-link font-weight-bold active" data-toggle="tab" href="#ap1">AJAX</a>
                        <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#ap2">Angular</a>
                        <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#ap3">Laravel</a>
                        <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#ap4">Node-Express</a>
                        <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#ap5">React</a>
                        <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#ap6">RoR</a>
                        <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#ap7">Vue.js-Typescript</a>
                    </div>
                </nav>
                <div class="tab-content  px-3 border border-top-0 rounded-lg" id="nav-tabContent">
                    <div class="tab-pane fade show active px-1" id="ap1">
                        <iframe class=" m-3" src="src/assets/apuntes/apunte1.pdf" width="700px"
                height="800px"></iframe>
                    </div>
                    <div class="tab-pane fade  px-1" id="ap2">
                        <iframe class=" m-3" src="src/assets/apuntes/apunte2.pdf" width="700px"
                height="800px"></iframe>
                    </div>
                    <div class="tab-pane fade  px-1" id="ap3">
                        <iframe class=" m-3" src="src/assets/apuntes/apunte3.pdf" width="700px"
                height="800px"></iframe>
                    </div>
                    <div class="tab-pane fade  px-1" id="ap4">
                        <iframe class=" m-3" src="src/assets/apuntes/apunte4.pdf" width="700px"
                height="800px"></iframe>
                    </div>
                    <div class="tab-pane fade  px-1" id="ap5">
                        <iframe class=" m-3" src="src/assets/apuntes/apunte5.pdf" width="700px"
                height="800px"></iframe>
                    </div>
                    <div class="tab-pane fade  px-1" id="ap6">
                        <iframe class=" m-3" src="src/assets/apuntes/apunte6.pdf" width="700px"
                height="800px"></iframe>
                    </div>
                    <div class="tab-pane fade  px-1" id="ap7">
                        <iframe class=" m-3" src="src/assets/apuntes/apunte7.pdf" width="700px"
                height="800px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>