<div class="modal-content fixed-top">
  <div class="modal-header center-title">
    <h3 class="center-div">Modificar Subasta</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="editAuctionForm" (ngSubmit)="onSubmit()" class="form-horizontal user-form modal-body">
      <div class="form-group">
        <label >Articulo: &nbsp; &nbsp;</label>
        <label >{{this.auctionToEdit.Nombre}}</label>
      </div>
      <div class="form-group">
        <label>Descripcion: &nbsp; &nbsp;</label>
        <label> {{this.auctionToEdit.Descripcion}}</label>
      </div>
      <div class="form-group">
        <label for="date">Precio</label>
        <input type="number" min=0 class="form-control input-create" placeholder="Precio" formControlName="basePrice"
          required>
      </div>
      <div class="form-group">
        <label for="date">Fecha final</label>
        <input id="date" type="datetime-local" class="form-control input-create" formControlName="finalDate" required>
      </div>
      <div class="modal-footer center-div">
        <button class="btn btn-success center-div" type="submit"> Confirmar</button>
        <button class="btn btn-danger center-div" (click) = "close()"> Cancelar</button> 
      </div>
    </form>
  </div>
</div>