<div class="card borderless bg-dark rounded-0 pt-5">
    <div class="card-body pt-2">
      <section class="text-center">
        <div class="display-block">
          <h3 class="card-title text-white">Proyectos</h3>
        </div>
      </section>
    </div>
    <section id="tabs center ">
      <div class="row pb-5  bg-dark pt-5">
        <div class="center bg-light rounded-lg shadow-lg">
          <nav>
            <div class="nav nav-tabs nav-fill" id="inv" role="tablist">
              <a class="nav-item nav-link font-weight-bold active" data-toggle="tab" href="#proy1">Propuesta</a>
              <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#proy2">Especificación Funcional</a>
              <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#proy3" >Documentación</a>
            </div>
          </nav>
          <div class="tab-content  px-3 border border-top-0 rounded-lg" id="nav-proy">
            <div class="tab-pane fade show active px-1" id="proy1">
                <ul class="pl-1 list-group">
                    <iframe class="rounded m-3" src="src/assets/documents/proyectos/Propuesta_Proyecto_Electiva_WEB.pdf" width="700px"
                      height="800px"></iframe>
                  </ul>
            </div>
            <div class="tab-pane fade px-2" id="proy2">
              <ul class="pl-1 list-group">
                <iframe class="rounded m-3" src="src/assets/documents/proyectos/Especificación_Funcional.pdf" width="700px"
                  height="800px"></iframe>
              </ul>
            </div>
            <div class="tab-pane fade px-2" id="proy3">
                <ul class="pl-1 list-group">
                    <iframe class="rounded m-3" src="src/assets/documents/proyectos/Docum_crMédico.pdf" width="700px"
                      height="800px"></iframe>
                  </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>