<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-dark" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-light font-weight-bold" href="/portafolio-web/index.html#course">Inicio<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold" href="/portafolio-web/index.html#homework">Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold" href="/portafolio-web/index.html#labs">Laboratorios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold" href="/portafolio-web/index.html#apuntes">Apuntes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold" href="/portafolio-web/index.html#inv">Investigaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold" href="/portafolio-web/index.html#proy">Proyectos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light font-weight-bold" id="navbarDropdownMenuLink" data-toggle="dropdown">
          Control de usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/portafolio-web/src/pages/login/login.html">Login</a>
          <a class="dropdown-item" href="/portafolio-web/src/pages/sign-up/sign-up.html">Registro</a>
          <a class="dropdown-item" href="/portafolio-web/src/pages/pw-recovery/pw-recovery.html">Recuperación de
            contraseña</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light font-weight-bold"
          href="/portafolio-web/src/pages/lab2/map.html">Lab #2 - OSM</a>
      </li>
    </ul>
  </div>
</nav>