<div class="card borderless bg-dark rounded-0 pt-5">
  <div class="card-body pt-2">
    <section class="text-center">
      <div class="display-block">
        <h4 class="card-title text-white">IC8057 - Introducción al desarrollo de páginas web</h4>
        <h5 class="card-text text-white">Ericka Solano Fernández</h5>
        <h5 class="card-text text-white">Verano 2019</h5>
      </div>
      <div class="pt-2">
        <i class="fas fa-laptop-code banner-icon"></i>
        <i class="fas fa-database banner-icon"></i>
        <i class="fas fa-network-wired banner-icon"></i>
      </div>
    </section>
  </div>
</div>