<div class="card borderless">
  <div class="card-body">
    <section class="text-center">
      <div>
        <img class="web-img rounded-img mb-4" src="src/assets/img/prof-pic.jpg">
      </div>
      <div class="display-block">
        <h4 class="card-title">Andrés Sánchez Gómez</h4>
        <h6 class="card-text">Estudiante de Ingeniería en Computación</h6>
        <h6 class="card-text">Sede Central, Cartago</h6>
      </div>
    </section>
  </div>
</div>
<section id="tabs center">
  <div class="row pb-5">
    <div class="col-xs-12 center">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link font-weight-bold active" data-toggle="tab" href="#about-me">Información personal</a>
          <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#prof-interests">Intereses profesionales</a>
          <a class="nav-item nav-link font-weight-bold" data-toggle="tab" href="#hobbies">Hobbies</a>
        </div>
      </nav>
      <div class="tab-content  px-3 border border-top-0" id="nav-tabContent">
        <div class="tab-pane fade show active px-2 py-2" id="about-me">
          <ul class="list-group">
            <li class="list-group-item border-0 pt-0 pl-2"> <span class="font-weight-bold text-dark">Domicilio: </span>San Rafael de Oreamuno, Cartago</li>
            <li class="list-group-item border-0 pt-0 pl-2"> <span class="font-weight-bold text-dark">Carné: </span>2017239278</li>
            <li class="list-group-item border-0 pt-0 pl-2"> <span class="font-weight-bold text-dark">Correo electrónico: </span>asanchezg811@gmail.com</li>
            <li class="list-group-item border-0 pt-0 pl-2"> <span class="font-weight-bold text-dark">Número de teléfono: </span>70447808</li>
            <li class="list-group-item border-0 pt-0 pl-2"> <span class="font-weight-bold text-dark">Fecha de nacimiento: </span>08/11/1997</li>
          </ul>
        </div>
        <div class="tab-pane fade px-2 py-2" id="prof-interests">
          <label>
            Las áreas de la Ingeniería en Computación que considero más interesantes son:
          </label>
          <ul class="pl-1 list-group">
            <li class="list-group-item border-0 pt-0 ">Desarrollo móvil</li>
            <li class="list-group-item border-0 pt-0 ">Desarrollo web</li>
            <li class="list-group-item border-0 pt-0 ">Desarrollo de videojuegos</li>
            <li class="list-group-item border-0 pt-0 ">Cybersecurity</li>
            <li class="list-group-item border-0 pt-0 ">Inteligencia artificial</li>
          </ul>
        </div>
        <div class="tab-pane fade px-2 py-2" id="hobbies">
          <label >
            Las actividades que más me gusta hacer en mi tiempo libre son:
          </label>
          <ul class="list-group">
            <li class="list-group-item border-0 pt-0 pl-2">Crossfit</li>
            <li class="list-group-item border-0 pt-0 pl-2">Videojuegos</li>
            <li class="list-group-item border-0 pt-0 pl-2">Escuchar y mezclar música</li>
            <li class="list-group-item border-0 pt-0 pl-2">Salir con amigos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>