<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section>
    <ion-card class="login-card">
      <section class="ion-text-center center">
        <img class="brain-boost-letters" src="../../assets/icon/brain-boost-logo.png">
      </section>
    </ion-card>
  </section>
  <section>
    <ion-card class="login-card">
      <section class="ion-text-center center">
        <img class="brain-boost-logo" src="../../assets/icon/brain-boost-rocket.png">
      </section>
    </ion-card>
  </section>
  <app-login-form class="no-margin-bot"></app-login-form>
  <section class="ion-text-center">
    <ion-item lines="none" class="ion-text-center no-margin-top">
      <ion-label class="blue-label no-margin-top" routerLink="/">¿Has olvidado la contraseña?</ion-label>
    </ion-item>
  </section>
  <section class="ion-text-center">
    <ion-label>¿No tienes una cuenta? </ion-label>
    <ion-label class="blue-label" routerLink="/signup">Regístrate</ion-label>
  </section>
</ion-content>